<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="login-card mat-card-top-margin" *ngIf="loginType == 'login'">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required [autocomplete]="autocomplete">
          <button mat-icon-button matSuffix tabindex="-1">
            <mat-icon>person</mat-icon>
          </button>
          <mat-error *ngIf="emailLogin.invalid && (emailLogin.dirty || emailLogin.touched)">
            <div *ngIf="emailLogin.errors['minlength'] || emailLogin.errors['maxlength']; else invalid">
              Email must be at-least 4 characters long.
            </div>
            <ng-template #invalid>
              Email is <strong>Invalid</strong>
            </ng-template>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="secret" required
                 [autocomplete]="autocomplete">
          <button mat-icon-button matSuffix (click)="hidePass = !hidePass" tabindex="-1"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
            <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="passwordLogin.invalid && (passwordLogin.dirty || passwordLogin.touched)">
            <div *ngIf="passwordLogin.errors['minlength'] || passwordLogin.errors['maxlength']; else invalid">
              Password must be between 4 to 40 characters long.
            </div>
            <ng-template #invalid>
              Password is <strong>Invalid</strong>
            </ng-template>
          </mat-error>

        </mat-form-field>

      </form>
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
        <mat-card-actions>
          <button mat-raised-button (click)="login()" color="primary" [disabled]="!loginForm.valid">Login</button>
        </mat-card-actions>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div>Not yet registered,
        <button mat-raised-button routerLink="/app/signup" color="primary">SignUp</button>
        here.
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="signup-card" *ngIf="loginType == 'signup'">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>SignUp</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="signupForm" fxLayoutGap="15px">
        <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="15px">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName" required [autocomplete]="autocomplete">
            <button mat-icon-button matSuffix tabindex="-1" disabled="true">

            </button>
            <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
              Firstname is <strong>Invalid</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName" required [autocomplete]="autocomplete">
            <button mat-icon-button matSuffix tabindex="-1" disabled="true">

            </button>
            <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
              Lastname is <strong>Invalid</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required [autocomplete]="autocomplete">
            <button mat-icon-button matSuffix tabindex="-1">
              <mat-icon>contact_mail</mat-icon>
            </button>
            <mat-hint>Email is required!</mat-hint>
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors['minlength']; else invalid">
                Email must be at-least 4 characters long.
              </div>
              <ng-template #invalid>
                Email is <strong>Invalid</strong>
              </ng-template>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="15px">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="secret" required
                   [errorStateMatcher]="matcher" [autocomplete]="autocomplete">
            <button mat-icon-button matSuffix (click)="hidePass = !hidePass" tabindex="-1"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
              <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="confirmSecret" required
                   [errorStateMatcher]="matcher" [autocomplete]="autocomplete">
            <button mat-icon-button matSuffix (click)="hidePass = !hidePass" tabindex="-1"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
              <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
              <div *ngIf="confirmPassword.errors['minlength']; else mismatch">
                Password must be at-least 4 characters long.
              </div>
              <ng-template #mismatch>
                <div *ngIf="confirmPassword.errors['mismatch']; else invalid">
                  Password <strong>mismatch</strong>
                </div>
              </ng-template>
              <ng-template #invalid>
                Password is <strong>Invalid</strong>
              </ng-template>
            </mat-error>
          </mat-form-field>
        </div>
      </form>
      <div class="red"> Functionality yet to be implemented.</div>
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
        <mat-card-actions>
          <button mat-raised-button (click)="signUp()" color="primary"
                  [disabled]="!(signupForm.valid && password.value === confirmPassword.value)">SignUp
          </button>
        </mat-card-actions>
      </div>
    </mat-card-content>
    <mat-card-content fxLayoutAlign="center center">
      <div>Already registered,
        <button mat-raised-button routerLink="/app/login" color="primary">Login</button>
        here.
      </div>
    </mat-card-content>

  </mat-card>
</div>
