<form class="form-full-width" [formGroup]="userForm" (ngSubmit)="emitUser()">
  <mat-card fxLayoutAlign="center">
    <div class="form-max-width">
      <mat-card-header>
        <mat-card-title *ngIf="isAdd">Add User</mat-card-title>
        <mat-card-title *ngIf="!isAdd">Edit User</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <mat-form-field ngClass.lt-sm="full-width" appearance="outline">
            <mat-label>Firstname</mat-label>
            <input type="text" matInput formControlName="firstName" [errorStateMatcher]="matcher"
                   placeholder="Ex. Nitin" [autocomplete]="autocomplete" (focusout)="trimValue($event)">
            <mat-hint>Firstname is required!</mat-hint>
            <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
              <div *ngIf="firstName.errors['minlength']; else invalid">
                Firstname must be at least 2 characters long.
              </div>
              <ng-template #invalid>
                Firstname is <strong>Invalid</strong>
              </ng-template>
            </mat-error>
          </mat-form-field>

          <mat-form-field ngClass.lt-sm="full-width" appearance="outline">
            <mat-label>Lastname</mat-label>
            <input type="text" matInput formControlName="lastName" [errorStateMatcher]="matcher"
                   placeholder="Ex. Kumar" [autocomplete]="autocomplete" (focusout)="trimValue($event)">
            <mat-hint>Lastname is required!</mat-hint>
            <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
              <div *ngIf="lastName.errors['minlength']; else invalid">
                Lastname must be at least 2 characters long.
              </div>
              <ng-template #invalid>
                Lastname is <strong>Invalid</strong>
              </ng-template>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email" [errorStateMatcher]="matcher"
                   placeholder="Ex. user@example.com" [autocomplete]="autocomplete" (focusout)="trimValue($event)">
            <mat-hint>Email is required!</mat-hint>
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors['minlength']; else invalid">
                Email must be at least 4 characters long.
              </div>
              <ng-template #invalid>
                Email is <strong>Invalid</strong>
              </ng-template>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="space-between center" class="margin-0">
        <button mat-raised-button type="submit" color="primary" [disabled]="!userForm.valid" *ngIf="!isAdd">Update
        </button>
        <button mat-raised-button type="submit" color="primary" [disabled]="!userForm.valid" *ngIf="isAdd">Add</button>
        <button mat-raised-button color="warn" (click)="emitUser(true)">Cancel</button>
      </mat-card-actions>
    </div>
  </mat-card>
</form>
