<div class="container">
  <div *ngIf="isEditMode; else viewData">
    <app-add-edit-task [projectList]="projectList" [userList]="userList" [isAdd]="isAdd" [taskData]="selectedTask"
                       (taskDataEmitter)="updateTaskRecordById($event)"></app-add-edit-task>
  </div>
  <ng-template #viewData>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span mat-ripple fxLayoutAlign="row" (click)="setSelectedTask()" class="add-item cursor-pointer">
        <mat-icon>add_circle</mat-icon>
        <div>New Task</div>
      </span>
      <span mat-ripple fxLayoutAlign="row" (click)="deleteAllTask()" class="delete-all cursor-pointer red"
            *ngIf="request.dataSource.data.length > 0">
        <mat-icon>delete_forever</mat-icon>
        <div>Delete All</div>
      </span>
    </div>
    <div fxLayout="row" ngClass.lt-md="overflow-scroll" *ngIf="request.dataSource.data.length > 0; else noRowData">
      <table mat-table [dataSource]="request.dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="projectID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Project</th>
          <td mat-cell *matCellDef="let element"> {{getProjectById(element.projectID)}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="assignedToUser">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> AssignedToUser</th>
          <td mat-cell *matCellDef="let element"> {{getUserById(element.assignedToUserID)}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="detail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Detail</th>
          <td mat-cell *matCellDef="let element"> {{element.detail}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CreatedOn</th>
          <td mat-cell *matCellDef="let element"> {{element.createdOn}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="deleteTask(element)" class="cursor-pointer">delete_forever</mat-icon>
            <mat-icon (click)="setSelectedTask(element)" class="cursor-pointer">edit</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <ng-template #noRowData>
      <div fxLayoutAlign="center center" class="font-20px">
        No Task
      </div>
    </ng-template>
  </ng-template>

</div>
