table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-icon {
  vertical-align: middle;
}

.add-item {
  padding: 10px;
  div {
    padding: 2px 10px;
  }
}

.overflow-scroll {
  overflow-x: scroll;
  table {
    min-width: 712px;
  }
}
